<div class="contextual">
  <%= link_to l(:button_add), {:action => 'new'}, :class => 'icon icon-add' if User.current.allowed_to?(:add_outgoing_letters, nil, :global => true) %>
  <%= link_to l(:button_update), {:action => 'edit', :id => @object.id}, :class => 'icon icon-edit' if User.current.allowed_to?(:edit_outgoing_letters, nil, :global => true) %>
  <%= link_to l(:button_delete), outgoing_letter_path(@object), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' if User.current.allowed_to?(:delete_outgoing_letters, nil, :global => true) %>
</div>
