%ul{:style => "margin:0;padding:0;"}
  - Organization.find(:all, :order => :position).each do |org|
    %li{:style => "margin:0;padding:0;list-style:none;"}
      - unless org == @organization
        = link_to org.title, {:action => :index, :organization_id => org.id}
      - else
        = org.title
        

