%h2
  = link_to l(:label_secretary_project_plural), :action => :index
  &#187;
  =h @secretary_project.organization

- form = labelled_form_for @secretary_project do |f|
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_save)
= form if Rails::VERSION::MAJOR >= 3
