%h2
  =l(:label_new_secretary_project)
  &#187;
  =h @secretary_project.organization

- form = labelled_form_for @secretary_project do |f|
  = render :partial => 'form', :locals => { :f => f }
  = f.submit l(:button_create)
= form if Rails::VERSION::MAJOR >= 3
