<div class="contextual">
  <% if User.current.allowed_to?(:add_incoming_letters, nil, {:global=>true}) %>
    <%= link_to l(:label_add_incoming_letter), {:controller => 'incoming_letters', :action => 'new'}, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= t(:label_incoming) %></h2>

