%h2
  = link_to l(:label_organization_plural), organizations_path
  &#187;
  =h @organization

- form = labelled_form_for @organization do |f|
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_save)
= form if Rails::VERSION::MAJOR >= 3
